html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  background-image: url('./images/bg-pattern.png');
}

input[type='text'] {
  border: 2px solid #4e4e4e;
  border-radius: 15px;
  outline: none;
  height: 40px;
  width: 350px;
  font-size: 30px;
  font-family: 'Courier New', Courier, monospace;
  padding: 5px;
  color: #727272;
  text-transform: capitalize;
}

input[type='text']:focus {
  color: #2b2b2b;
}

.country-item {
  font-size: 30px;
  font-family: 'Courier New', Courier, monospace;
  padding-bottom: 10px;
  color: #727272;
}

#element1 {
  font-size: 20px;
  font-family: 'Courier New', Courier, monospace;
  width: 600px;
}

img {
  float: right;
  border: solid 1px #696969;
}
